<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - Todo Adonis</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  <section class="bg-white dark:bg-gray-800">
    @include('layouts/partials/header')
    <main>
      @!section('content')
    </main>
  </section>
</body>
</html>
